prefer-workspace-packages=true

# Make sure the default patterns are still included (https://pnpm.io/npmrc#public-hoist-pattern)
public-hoist-pattern[]="*eslint*"
public-hoist-pattern[]="*prettier*"

# Polyfills are only used in the site, but with `preconstruct dev` they are imported by our own code
public-hoist-pattern[]="vite-plugin-node-polyfills"
